* {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
}

nav a{
    color: black;
}
   

@media (max-width:565px){
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }
}