* {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
}


header a{
    color: black;
}


main.container {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width:565px){
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }

    main.container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #filter{
        transition: all 0.3s;
        background-color: #f8faff;
        padding: 16px;
        border-radius: 0px 0px 8px 8px;
    }

    .filter-col a[aria-expanded="true"] > div{
        border-radius: 4px 4px 0px 0px !important;
    }
}


h4, .fs-4 {
    font-weight: 600;
}

.brand-filter button {
    background: none;
    max-height: 100px;
    border: 5px solid transparent;
    transition: all 0.2s ease;
    border-radius: 6px;
}

.brand-filter button:focus{
    outline: none;
}

.brand-filter button.active, .brand-filter button:hover {
    border: 5px solid rgba(13,110,253,.35);   
}


.filter-col a[aria-expanded="true"] i.fa-chevron-down{
    transform: rotate(180deg);
}


.brand-filter button:first-of-type{
    height: 100%;
    width: 100%;
}

