<!DOCTYPE html>
<html lang="sk">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

  <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
  <!-- https://cdnjs.com/libraries/font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>category-card</title>
  <style>
    .category-card {
      border-radius: 20px;
      padding: 10px 32px 10px 8px;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      gap: 1em;
    }

    .category-image-placeholder {
      background-color: #e1e1e1;
      border-radius: 10px;
      width: 64px;
      height: 64px;
    }
  </style>
</head>

<body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
  <div class="container">
    <div class="d-flex">
      <div class="d-flex">
        <div class="d-flex justify-content-start">
          <!-- Category Card -->
          <div class="category-card d-flex">
            <!-- Placeholder for Category Image -->
            <div class="category-image-placeholder"></div>
            <!-- Category Name -->
            <h3 class="m-0">Category name</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>