<!DOCTYPE html>
<html lang="sk">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
		/>

		<!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
		<!-- https://cdnjs.com/libraries/font-awesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>

		<title>Hello, world!</title>
	</head>
	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
		<main class="container">
			<button type="button" class="btn btn-outline-primary">Primary</button>
			<!-- Content goes here -->
			<div class="row g-0 row-cols-4 row-gap-0">
				<div class="col">
					<div
						class="border border-black"
						style="height: 100px; width: 100%"
					></div>
				</div>
				<div class="col">
					<div
						class="border border-black"
						style="height: 100px; width: 100%"
					></div>
				</div>
				<div class="col">
					<div
						class="border border-black"
						style="height: 100px; width: 100%"
					></div>
				</div>
				<div class="col">
					<div
						class="border border-black"
						style="height: 100px; width: 100%"
					></div>
				</div>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Library</a></li>
					<li class="breadcrumb-item active" aria-current="page">Data</li>
				</ol>
			</nav>
		</main>
	</body>
</html>
